h1 {
	padding:20px;
	background-color: #2946C5;
	color: #FFFFFF;
/* Tutorial */
}
h2 {
	padding:10px;
	background-color: #5B76E7;
}
p {
	padding:10px;	
	border: 1px solid;
}
img {
	display: block; 
	margin: 0 auto;
}
