h1 {
	padding:20px;
/* Tutorial */
}
h2 {
	padding:10px;
	background-color: #5B76E7;
	font-color: #FFFFFF;
}
p {
	padding:10px;	
	border: 1px solid;
}
h3 {
	padding:10px;
	background-color: #BF7851;
	font-color: #F9E969;
}
img {
	display: block; 
	margin: 0 auto;
}
